.book-cover {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 256px;
}

.book-info {
    text-align: center;
}

#book-icon {
    font-size: 72px;
}