#cover-image {
    height: 256px;
}

.upload-form {
    text-align: left;
}

.book-cover {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 256px;
}

.upload-form button {
    margin-top: 2em;
    margin-left: 1em;
}

#cancel-button {
    padding-top: 4px;
    padding-right: 0px;
}

i {
    padding-right: 0.2em;
}