body {
    color: #B0BEC5;
}

.title {
    font-size: 72px;
}

.subtitle {
    font-size: 36px;
    text-transform: uppercase;
}

.content {
    text-align: center;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}