.donut-inner {
    margin-top: -210px;
    margin-bottom: 160px;
    text-align: center;
}
.donut-inner h5 {
    margin-bottom: 5px;
    margin-top: 0;
}
.donut-inner span {
    font-size: 12px;
}

#welcome-buttons {
    margin-top: 2em;
    text-align: center;
}

#welcome-buttons a {
    margin-left: 0.5em;
}

#chart-heading {
    text-align: center;
}