body {
    font-family: 'Raleway', sans-serif;
    background-color: #FFFFFF;
    font-weight: 400;
    color: #636b6f;
    height: 100vh;
    margin: 0;
}

a {
    font-family: 'Raleway', sans-serif;
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
    background-color: transparent;
}

a:hover {
    color: black !important;
    background-color: transparent !important;
    text-decoration: none !important;
}

a:active {
    color: black !important;
    background-color: transparent !important;
    text-decoration: none !important;
}

.btn-link {
  font-family: 'Raleway', sans-serif;
  color: #636b6f;
  padding: 0 25px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: .1rem;
  text-decoration: none;
  text-transform: uppercase;
}

.btn-primary {
    background-color: #636b6f;
    border-color: #636b6f;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    background-color: #484e51;
    border-color: #484e51;
}

.form-control:focus {
  border-color: #B0BEC5;
}

.btn-link {
    color: #636b6f;
}

.btn-link:hover {
    color: #636b6f;
    text-decoration: none;
}

.navbar-brand {
    font-family: 'Slabo 27px', serif;
    text-transform: capitalize;
}

.navbar-logo {
    float: left;
    height: 40px;
    padding-top: 5px;
}

.navbar-default {
    border-color: #FFFFFF;
    margin: 0;
}

.title {
    font-family: 'Slabo 27px', serif;
    font-weight: 600;
}

.heading {
    font-family: 'Slabo 27px', serif;
}

.breadcrumb a {
    padding: 0px;
    font-style: normal;
}

.breadcrumb {
    font-style: italic;
}

.content-empty {
    text-align: center;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: capitalize;
    color: #B0BEC5;
}