.book-cover {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 512px;
}

.player {
    text-align: center;
    padding-top: 2em;
}

#delete-button:hover {
    text-decoration: none;
}

.buttons {
    padding-top: 0.5em;
}

.buttons a {
    padding-left: 0.5em;
    padding-right: 0.5em;
}