html, body {
    background-color: #FFFFFF;
    color: #636B6F;
    margin: 0;
    overflow: auto;
}

.centre-logo {
    height: 14em;
    margin-top: 6em;
}

.navbar {
    display: none;
}

#welcome-navbar {
    margin-right: 2.9em;
}

#welcome-background {
    background-image: url("/img/record2.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #B0BEC5;
    background-blend-mode: luminosity;
    min-height: 100vh;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
    margin-top: -6vh;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.links {
    margin-top: -2vh;
}

.m-b-md {
    margin-bottom: 30px;
}